<!--
$def with (data=None,order=None,page=1,limit=0)
-->

<link href="/backoffice/assets/css/bootstrap.min.css" rel="stylesheet" />
<meta name="referrer" content="never">
<script src="/backoffice/assets/js/jquery-2.0.3.min.js"></script>
<script src="/backoffice/assets/js/bootstrap.min.js"></script>
<link href="/other.css" rel="stylesheet" />

<input type="hidden" value="$order" id="sortvalue">
<table border=0 class="table table-hover table-striped table-bordered" id="tablecontent">
    <thead>
        <tr>
        <th><a href="javascript:listsort('target__x__id');">标示</a><input type="hidden" value="0" id="target__x__id"><span class="glyphicon glyphicon-resize-small" aria-hidden="true" id="target__x__id1"></span></th>
        <th><a href="javascript:listsort('target__x__name');">名称</a><input type="hidden" value="0" id="target__x__name"><span class="glyphicon glyphicon-resize-small" aria-hidden="true" id="target__x__name1"></span></th>
        <th><a href="javascript:listsort('target__x__link');">链接</a><input type="hidden" value="0" id="target__x__link"><span class="glyphicon glyphicon-resize-small" aria-hidden="true" id="target__x__link1"></span></th>
        <th><a href="javascript:listsort('target__x__status');">状态</a><input type="hidden" value="0" id="target__x__status"><span class="glyphicon glyphicon-resize-small" aria-hidden="true" id="target__x__status1"></span></th>
        <th>操作</th>
        </tr>
    </thead>
    <tbody>
    $if data==-1:
        数据错误
    $elif data:
        $for item in data:
            <tr>
            <td style='text-align:right'>$item.id</td>
            <td style='text-align:left'>$item.name</td>
            <td style='text-align:left'>$item.link</td>
            <td style='text-align:right'>$item.status_name</td>
            <td>
             $if item.status != 1:
                <form style="display: inline;" method=POST id="formaction_id_$item.id"><input type="hidden" name="id" form="formaction_id_$item.id" value="$item.id"><input type="hidden" name="value" value=1 "><button form="formaction_id_$item.id" name="action" value="set" class="btn btn-warning">同步</button></form>
             $if item.status != 3:
                <form style="display: inline;" method=POST id="formaction_id_$item.id"><input type="hidden" name="id" form="formaction_id_$item.id" value="$item.id"><input type="hidden" name="value" value=3 "><button form="formaction_id_$item.id" name="action" value="set" class="btn btn-danger">停止</button></form>
            </td></tr>
    $else:
        <tr>
            <td colspan="15" class="text-center">
                暂无数据
            </td>
        </tr>
    </tbody>
</table>



<div class="modal fade" id="mymodal" tabindex="-1" role="dialog" aria-labelledby="mymodalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="mymodalLabel">个人信息</h4>
            </div>
            <div class="modal-body">
                <table class="table table-hover table-striped table-bordered" id="table_info">
                    <tr>
                        <td>平均信用额度</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>信用</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>手机号</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>邮箱</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>昵称</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>编号</td>
                        <td></td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    /*onload = initTable;*/
    function initTable(){
        i=0;
        $$("#table_info tr").each(function(){
            $$(this).attr("id","tr"+i);
            i++;
        });
    }
    function showmodal(argument) {
        $$.ajax({ 
           type: "POST",
           url: "userlist",
           data: "action=ajaxPer&user_id="+argument,
           dataType:'json',
           success: function(msg){
                if(msg.errorCode==1){
                    alert("fail to get personal information");
                }
                else{
                    $$("#tr0 td:last-child").html(msg.result.credit_average);
                    $$("#tr1 td:last-child").html(msg.result.credit);
                    $$("#tr2 td:last-child").html(msg.result.telephone);
                    $$("#tr3 td:last-child").html(msg.result.email);
                    $$("#tr4 td:last-child").html(msg.result.nickname);
                    $$("#tr5 td:last-child").html(msg.result.id);
                }
            }
        });
        $$("#mymodal").modal();
    }
</script>


<script type="text/javascript">
        function listsort(obj){
            changeStatus(obj);
            var sortvaluestoArray = htmltoarray(obj);
            /*var urlnow = window.location.href;
            var index = urlnow.indexOf("?");
            if (index == '-1') {
                index = urlnow.length;
            }
            var urlnew = urlnow.substring(0,index);
            urlnew = urlnew+"?order="+sortvaluestoArray;
            window.location.href = urlnew;*/
            $$("#orderRemember").attr("value",sortvaluestoArray);
            $$("#form").submit();
        }



        function changeStatus(obj){  /*0 nosort  1 asc  2 desc*/
            var status = $$("#"+obj).get(0).value;
            if(status == '0'){
                status = '1';
            }
            else if(status == '1'){
                status = '2';
            }
            else{
                status = '0';
            }
            $$("#"+obj).get(0).value = status;
        }

        function createsort(id,value){
            var newsort = Object();
            newsort.id = id;
            newsort.value = value;
            return newsort;
        }

        function htmltoarray(obj) {
            var sortvalues = new Array();
            var i = -1;
           $$("#tablecontent thead tr th input").each(function(){
                var id = this.id;
                var value = this.value;
                if(value != 0){
                    i++;
                    var per = createsort(id,value);
                    sortvalues[i] = per;
                }
           });


            var sortvaluesold = new Array();
            var sortvaluestoArrayold = $$("#sortvalue").get(0).value;
            var toArrayold = sortvaluestoArrayold.split(",");
            for (var i = 0; i < toArrayold.length; i++) {
                var arrayStatusold = toArrayold[i].split(" ");
                var perold = createsort(arrayStatusold[0],valuetoStatus(arrayStatusold[1]));
                sortvaluesold[i] = perold;
            }


            var newest = new Array();
            j=-1;
            for (var i = 0; i < sortvaluesold.length; i++) {
                var oldid = sortvaluesold[i].id;
                for (var k = 0; k <sortvalues.length; k++) {
                    var newid = sortvalues[k].id;
                    if (oldid == newid) {
                        j++;
                        newest[j]=sortvalues[k];
                    }
                }
            }

            var flag ='0';
            for (var i = 0; i < sortvaluesold.length; i++) {
                if (obj == sortvaluesold[i].id) {
                    flag = '1';
                }
            }
            if (flag == '0') {
                var index = newest.length;
                var newvalue = $$("#"+obj).get(0).value;
                newest[index]=createsort(obj,newvalue);
            }
            sortvalues=newest;

           var sortvaluestoArray = "";
           for (var i = 0; i < sortvalues.length; i++) {
               if (sortvaluestoArray == "") {
                var str = sortvalues[i].id+" "+statustoValue(sortvalues[i].value);
               } else {
                var str = ","+sortvalues[i].id+" "+statustoValue(sortvalues[i].value);
               }
               sortvaluestoArray = sortvaluestoArray+str;
           }
           return sortvaluestoArray;
        }

        function statustoValue(obj){
            if(obj == '1'){
                obj = 'asc';
            }
            else if(obj == '2'){
                obj = 'desc';
            }
            else{
                obj = 'asc';
            }
            return obj;
        }

        function valuetoStatus(obj){
            if(obj == 'asc'){
                obj = '1';
            }
            else if(obj == 'desc'){
                obj = '2';
            }
            else{
                obj = '0';
            }
            return obj;
        }

        function arraytohtml() {
            initTable();
            var sortvalues = new Array();
            var sortvaluestoArray = $$("#sortvalue").get(0).value;
            var toArray = sortvaluestoArray.split(",");
            for (var i = 0; i < toArray.length; i++) {
                var arrayStatus = toArray[i].split(" ");
                var per = createsort(arrayStatus[0],valuetoStatus(arrayStatus[1]));
                sortvalues[i] = per;
            }
            for (var i = 0; i < sortvalues.length; i++) {
                var idexist = sortvalues[i].id;
                $$("#tablecontent thead tr th input").each(function(){
                    var id = this.id;
                    var status = sortvalues[i].value;
                    if(idexist == id){
                        this.value = sortvalues[i].value;
                        var newid="#"+id+"1";
                        if (status == 1) {
                            /*up*/
                            $$(newid).attr("class","glyphicon glyphicon-arrow-up");
                            /*$$(newid).attr("class")="glyphicon glyphicon-menu-up";*/
                        } else {
                            /*down*/
                            $$(newid).attr("class","glyphicon glyphicon-arrow-down");
                            /*$$(newid).attr("class")="glyphicon glyphicon-menu-down";*/
                        }
                    }
               });
            }
        }

        onload = arraytohtml;

    </script>
