$def with(user_type=0)

    <li class="has-sub expanded">
				<a href="#">
					<i class="linecons-cog"></i>
					<span class="title">系统设置</span>
				</a>
				<ul style="display: block;">
						<li _class="active">
							<a href="javascript:;" rel="基础设置" title="/backoffice/system_settings/publish_targets"><span class="title">目标平台设置</span></a>
						</li>
						
						<li _class="active">
							<a href="javascript:;" rel="分享目标" title="/backoffice/settings/target_share"><span class="title">分享目标</span></a>
						</li>
						
												
						<li>
							<a href="javascript:;" rel="更换内容类别" title="/backoffice/settings/content_replace_manage"><span class="title">更换内容类别</span></a>
						</li>
				
						<li>
							<a href="javascript:;" rel="常量设置" title="/backoffice/options/options_user"><span class="title">系统设置</span></a>
						</li>
				
			
				</ul>
    </li>
