$def with(user_type=0)

    <li class="has-sub expanded">
			<li class="has-sub expanded">
					<a href="#">
							<i class="linecons-cog"></i>
							<span class="title">设置</span>
					</a>
						<ul style="display: block;">						
							<li class="">
								<a href="javascript:;" rel="任务类型" title="settings/location/start">
									<span class="title">地区设置</span>
								</a>
							</li>	
							
							<li class="">
								<a href="javascript:;" rel="状态" title="settings/status">
									<span class="title">状态</span>
								</a>
							</li>	
							
							
						</ul>
			</li>
    </li>
