$def with(user_type=0)

    <li class="has-sub expanded">
			<a href="#">
						<i class="linecons-cog"></i>
						<span class="title">帮助</span>
			</a>
				<ul style="display: block;">
						<li _class="active">
							<a href="javascript:;" rel="系统介绍" title="/backoffice/help/about"><span class="title">系统介绍</span></a>
						</li>
						<li>
							<a href="javascript:;" rel="使用手册" title="/backoffice/help/handbook"><span class="title">使用手册</span></a>
						</li>
						<li>
							<a href="javascript:;" rel="权限设置" title="/backoffice/help/user_rights"><span class="title">权限设置</span></a>
						</li>
							
			</ul>
    </li>
