$def with(user_type=0)

    <li class="has-sub expanded">
				<a href="#">
					<i class="linecons-cog"></i>
					<span class="title">发布管理</span>
				</a>
				<ul style="display: block;">
						<li _class="active">
							<a href="javascript:;" rel="发布平台管理" title="/backoffice/publisher/publish_platforms"><span class="title">发布平台管理</span></a>
						</li>
						
						<li>
							<a href="javascript:;" rel="发布内容替换" title="/backoffice/publisher/content_replacer"><span class="title">发布内容替换</span></a>
						</li>
						
						<li>
							<a href="javascript:;" rel="发布日志" title="/backoffice/publisher/published_article"><span class="title">发布日志</span></a>
						</li>
						
			
				</ul>
    </li>
